# OpenAI API
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_DEFAULT_MODEL=

# Anthropic API
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=
ANTHROPIC_DEFAULT_MODEL=

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=渡一LangGraph学习

# TAVILY
TAVILY_API_KEY=